

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

	
  


.cabecalho { 
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 24px;
			margin-left: 5%;
			margin-right: 15%;
			
			

}
.cabecalho-imagem{
    
    width: 15%;
	display:flex;
	flex-direction:row;
	align-items: baseline;
	padding-bottom: 10%;
	margin-bottom: -13%;
	justify-content: center;   
}

.cabecalho-menu{ 
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item{
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color:#ffff;
    font-weight:400;
    font-size: 25px;
}

.conteudo {
    margin-bottom: 48px;
}
.linha{
	border-top: 1px solid rgb(255, 255, 255);
	width: 80%;
	opacity: 20%;
    margin: 0 auto;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
body {
	background: rgb(28,28,28);
	background: linear-gradient(56deg, rgba(28,28,28,1) 0%, rgba(46,209,184,1) 100%);}
	
	.conteudo {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.conteudo-principal-titulo1 {
		font-family: 'Titillium Web', sans-serif;
		font-weight: 500;
		 font-size: 64px;
		 color: #ffffff;
	}

	.conteudo-principal-titulo2
	{ 
		font-family: 
		font-weight: 500;
		 font-size: 35px;
		 color: #ffffff;
		 align-items: center;
	}

	.ze-gota{
		height: 600px;
	}


	.rodape {
		padding: 32px;
		
   }

   .rodape-imagem {
    height: 100px;
    display: block;
  margin: 0 auto;
}

   